.container {
    position: absolute;
    width: 50%;
    max-height: 60%;
    border: 1px solid white;
    background-color: #001219;
    border-radius: 8px;
    top: 15%;
    left: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 25px 10px;
}

.exitbtn {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.container button {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
}